// Acordeón (¿Por qué elegir VETRA?)
.accordion {
  .accordion-item {
    border-left: 5px solid $primary;

    .accordion-button {
      font-weight: bold;
      color: $primary;

      &:hover {
        background-color: lighten($primary, 40%);
      }
    }
  }
}

// Carrusel de logos
.logo-carousel {
  width: $logo-size-desktop;
  height: auto;
  object-fit: contain;

  @media (max-width: 768px) {
    width: $logo-size-tablet;
  }

  @media (max-width: 575.99px) {
    width: $logo-size-mobile;
  }
}
